/dist
.env
.DS_Store
/uploads
/node_modules
yarn-error.log
package-lock.json

.idea

coverage

!src/**

./tsconfig.tsbuildinfo
medusa-db.sql
build
.cache

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.medusa

# Files generated while running npm install
package-lock.json
yarn.lock